body {
    font-family: Arial;
  }

header {
    background-color: lightskyblue;
    color: white;
    margin-bottom: 20px;
  }

  footer {
    background-color: lightskyblue;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .row {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  a:hover:not(.active) {
    background-color: rgb(99, 99, 225);
  }
  
  .active {
    background-color: rgb(27, 165, 219);
  }
  